.end {
  background-color: #000;
  font-size: 2.25vw;
  line-height: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  padding: 0em 5vw 0.8vw 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  display: none;
  position: absolute;
  top: 50px;
  left: 10%;
  opacity: 9 0%;
}

.end__message {
  font-family: "Rota Black";
  font-size: 4.5vw;
  line-height: 10%;
  text-align: left;
  width: calc(100% - 6em);
}

.end__stats {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.end__count, .end__isWin {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.numbers {
  display: flex;
  gap: 1em;
}

.end__restartButton {
  font-family: "Rota Black";
  font-size: 2.5vw;
  text-transform: uppercase;
  line-height: 120%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0.5em;
  border: 1px solid #fff;
  background-color: #000;
}

.end__restartButton:hover {
  background-color: #29E75E;
  cursor: pointer;
  box-shadow: 0.1em 0.1em 0.1em #29E75E;
  border-color: #000;
}